body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
    margin: 0;
    padding: 2em;
}

.content {
    text-align: center;  
}

h1, p, h2 {
    margin: 10px 0; 
    color: blue;
    font-size: 30px;
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: column;  
    align-items: center;     
}

a {
    text-decoration: none;  
    margin: 5px 0;          
    font-size: 18px;
}
